---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects | Entrepreneurship Competitions" sideBarActiveItemID="project_entrecomp">
  <div class="text-3xl font-bold mb-4">Entrepreneurship Competitions</div>
  
  	<p>
	  I participated in several international entrepreneurship and innovation competitions, where I worked in interdisciplinary teams 
	  to develop impact-driven, technology-based solutions to real-world challenges.
	</p>
	<div class="w-full" style="margin-top: 20px;">
	
  <div class="text-xl font-bold text-gray-700 mb-2">UrbanAccess: Navigating the City Without Limits</div>
  <div class="w-full" style="margin-top: 0px; text-align: justify;">
    <p>
      People with disabilities face significant challenges navigating cities due to lack of real-time, reliable accessibility information and unforeseen obstacles in infrastructure.
	  </br></br>
	  UrbanAccess is an innovative mobile navigation app designed for people with disabilities. It provides real-time, reliable, and personalized accessibility information for urban environments. Using crowdsourced data, AI-powered mapping, and augmented reality (AR), the app enables users to plan accessible routes, receive live updates on obstacles, and rate public facilities based on inclusivity. Advanced machine learning techniques are used for pavement distress identification, stair detection, and obstacle recognition, ensuring precise and up-to-date accessibility insights. Additionally, the augmented reality feature enhances accessibility by providing audio cues, haptic feedback, and visual contrast adjustments, helping partially sighted users navigate urban environments more effectively. Beyond improving mobility and independence for individuals, UrbanAccess also provides valuable data-driven insights for city planners and businesses to create more inclusive spaces.
	  </br></br>
	  This concept was developed as part of the <a href="https://www.imperialenterpriselab.com/programmes/global-challenge-lab/" target="_blank" class="text-blue-600 hover:underline"> Global Challenge Lab 2024</a>, an international innovation program hosted in the UK by Imperial College London’s Enterprise Lab.
    </p>
  </div>

  <div class="mb-6"></div>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: black;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
          src="https://www.youtube.com/embed/NDDYJDZd2IE"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>
  </div>
  <div class="mb-6"></div>
  
  <p> Project collaborators: Ethan Li, Meixuan Chen, Margarita Etchegaray Bello, Boka Qin, and Besnik Mustafa </p>
  <div class="mb-6"></div>
  
  <div class="text-xl font-bold text-gray-700 mb-2">M³: Math Without Borders</div>
  <div class="w-full" style="margin-top: 0px; text-align: justify;">
    <p>
      Current math education relies heavily on language, making it inaccessible to children who do not understand the language of instruction. This issue affects underserved communities, leaving children struggling with both linguistic and mathematical barriers and widening global education inequalities.
	  </br></br>
	  M Cubed (M³) addresses this challenge with an AI-powered, language-free math learning platform that teaches foundational and advanced math concepts using visual, culturally neutral content. Unlike traditional methods, M Cubed eliminates the need for text-based explanations, ensuring that children, regardless of their language background, can develop problem-solving skills and mathematical proficiency. The platform features AI-driven personalized learning, gamified interactive exercises, and offline functionality, making it accessible even in low-connectivity regions. By removing language as a barrier, M Cubed empowers children worldwide with equal opportunities to learn and succeed in mathematics.
	  </br></br>
	  This concept was developed as part of the <a href="https://www.hultprize.org/" target="_blank" class="text-blue-600 hover:underline"> Hult Prize 2025</a> competition, a global initiative that empowers young entrepreneurs to create innovative, impact-driven solutions to social challenges that aligns to the United Nations Sustainable Development Goals (SDGs). 
    </p>
  </div>
  
  
  <div class="mb-6"></div>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: black;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
          src="https://www.youtube.com/embed/SAPtOH3E61U"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>
  </div>
  <div class="mb-6"></div>
  
  <p> Project collaborators: Margarita Etchegaray Bello and Meixuan Chen </p>

</BaseLayout>




