---
title: "VEX robotics competition"
description: "Project: VEX robotics competition"
pubDate: "2023-09-27"
heroImage: "/vexclose.PNG"
import BaseLayout from "../layouts/BaseLayout.astro"
---


<BaseLayout title="Projects | VEX Robotics Competition" sideBarActiveItemID="project_VEX">

  <div class="text-3xl font-bold mb-4">VEX Robotics Competition</div>

  <div class="w-full" style="margin-top: 20px; text-align: justify;">
    
    <p>
      The VEX Robotics Competition is a competition that inspires students worldwide to pursue STEM-related education and career paths. 
      Each year, the competition revolves around a different theme, challenging high school students from all over the world to build robots
      capable of completeing different tasks. The theme of the VEX Robotics Competition competition in 2013 is called the "Sack Attack."
      </br></br>
      Below is an illustration depicting the competition's battlefield. Two alliances, one "red" and one "blue", each consisting of two teams, compete in each match. 
      The primary objective of the match is to achieve a higher score by using the self-built robot to transport the bean-sacks (shown in green and yellow) from the original location
      to the scoring location, including the Floor Goals, Troughs, and High Goals. Additionally, points are awarded based on the robot's final parking location at the 
      end of the match.
    <div class="w-full" style="margin-top: 20px;">
    
    <div class="flex justify-between">
      <img src="/battlefield.PNG" alt="Image 2"/>
    </div>

    <div class="w-full" style="text-align: right;">
      <p style="font-style: italic;"> Photo credit: VEX Robotics</p></br>
    </div>

    <p>
      Our two robots, 4744A and 4744B, achieved remarkable success in the VEX regional competition in Tokyo, Japan in 2013. 
      4744B emerged as the tournament champion and excelled in the skills challenge, while 4744A received recognition with the design award, 
      which led us to the VEX world championship in California, USA in the same year. 
    </p>

<br />
    <div class="flex justify-between">
      <img src="/IMG_2025.jpg" alt="Image 2" style="max-width: 32%; height: auto;" />
      <img src="/IMG_1358.jpg" alt="Image 2" style="max-width: 32%; height: auto;" />
      <img src="/IMG_1336.jpg" alt="Image 2" style="max-width: 32%; height: auto;" />
    </div>

<br />
    <div class="flex justify-between">
      <img src="/DSCN5393.JPG" alt="Image 2" style="max-width: 49%; height: auto;" />
      <img src="/DSC03376.JPG" alt="Image 2" style="max-width: 49%; height: auto;" />
    </div>

<br />
    <p>
      Here are two videos of the regional competition in Tokyo. 
    </p>

  <div class="mb-6"></div>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: black;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
          src="https://www.youtube.com/embed/yVqg4DkW3bw?si=1TxbWmlXC9ib-Mmd"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>
  </div>
  <div class="mb-6"></div>
  
    <div class="mb-6"></div>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: black;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
          src="https://www.youtube.com/embed/cv2Gb7DnDf8?si=PXVG6EXFHF1DWrsI"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>
  </div>
  <div class="mb-6"></div>

<div class="w-full" style="margin-top: 20px; text-align: justify;">
<p> Project collaborators: Phaisan Cheng, Bobby Lin, Kyle Lee, and Yi-Jia Lin </p>

</BaseLayout>




