---
title: "Continuous Fiber 3DP"
description: "Project: Continuous Fiber 3DP"
pubDate: "2023-09-27"
heroImage: "/torquelink.PNG"
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects | Continuous Fiber 3DP" sideBarActiveItemID="project_cf3dp">

  <div class="text-3xl font-bold mb-4">Continuous Fiber 3D Printing</div>

  <div class="w-full" style="margin-top: 20px; text-align: justify;">
    
    <p>
      In this project, we aim to advance state-of-the-art continuous fiber 3D printing (CF3DP) technology for automating the manufacturing of 
      small and complex composite parts. Manufacturers often still rely primarily on traditional hand layup for these components. Such labor-intensive 
      processes require trained technicians, expensive tooling, and a significant amount of time, all of which increase the overall manufacturing cost. 
      While attempts have been made to automate the production of small composite parts through composite 3D printing (established companies include Markforged, 
      Anisoprint, and 9TLabs), the properties rarely reach the quality that industrial users are accustomed to due to low fiber volume content (15-30%) and high void content. 
      These factors can then lead to poor interlaminar bonding and decreased mechanical properties. Below is a photo showing continuous fiber printing using a robotic arm
      intergrated with Anisoprint co-extrusion printhead.
      </br></br>
      <div class="flex justify-between">
        <img src="/cf3dp3.PNG" alt="Image 2"/>
      </div>
      </br>
      Another technique for automating composite manufacturing is automated fiber placement (AFP). This established manufacturing process is mainly 
      employed to produce large carbon composite components, primarily for aerospace components. However, AFP has limitations, including the inability 
      to steer fibers with steering radius less than 400 mm and to handle small radii of curvature. It is mainly used for producing large shell-like parts. 
      We to combine the material properties of high-performance AFP continuous fiber materials and integrate them into desktop 3D printing. This integration 
      aims to produce small, complex, and lightweight continuous carbon composite parts with superior strength and stiffness. This approach bridges the gap 
      between existing additive manufacturing technology and the automated fiber placement of high-performance composites used in the industry.
    <div class="w-full" style="margin-top: 20px;">

<p style="font-style: italic;">This project is still ongoing, additional updates will be available in the near future!</p></br>

</BaseLayout>
