---
title: "Extreme shape transformation"
description: "Project: Extreme shape transformation"
pubDate: "2023-09-27"
heroImage: "/versatile1.PNG"
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects | Extreme Shape Transformation" sideBarActiveItemID="project_slicer">

  <div class="text-3xl font-bold mb-4">A Versatile Platform for Extreme Shape Transformation</div>

  <div class="w-full" style="margin-top: 20px; text-align: justify;">
    
    <p>
      The concept of 3D pop-up cards draws its inspiration from Kirigami, a Japanese paper art involving precise cutting and folding 
      techniques that bring forth the transformation of 2D paper into 3D artistic models. In this project, we aim to investigate the reversible shape transformation 
      properties inherent to soft materials, analogous to the principles employed in 3D pop-up cards.
      
      </br></br>
      Polydimethylsiloxane (PDMS) is selected as the soft material of interest due to its low viscosity and substantial elasticity. The 2D precursor is first designed 
      on a CAD software. These 2D models are then imported to ANSYS Workbench to evaluate both the linear and nonlinear buckling processes to achieve the final 3D structure.
      Simulation results are compared to physical experimentation results for validation. This study holds the potential for future applications in the soft robotics field.

  </div>

<div class="w-full" style="margin-top: 20px; text-align: justify;">
<p>Here is a video showing the summary of the project.</p>


  <div class="mb-6"></div>
  <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; background: black;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
          src="https://www.youtube.com/embed/J-PzKxb7N1Q?si=kEbZjeT8uRdM8pdz"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
  </iframe>
  </div>
  <div class="mb-6"></div>

<p> Project collaborators: Hung-Chen Yu, Chien-Yen Hsu, Michio Aoki, and Jia-Yang Juang</p>
</BaseLayout>

