---
title: "footer"
description: "footer"
pubDate: "2023-09-27"
heroImage: "/itemPreview.png"
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-10">
    &copy; {today.getFullYear()} Chih-Yu Chen
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    This webpage is based on the Astrofy Template developed by Manuel Ernesto.
  </div>
</footer>
<style>

</style>
