---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Chih-Yu Chen
  </div>
  <div class="inline opacity-75">
    This webpage is designed based on the Astrofy Template developed by Manuel Ernesto.
  </div>
</footer>
<style></style>
